.footer {
  position: relative;
  bottom: 0;

  width: 100%;
  background-color: black;
  color: yellowgreen;
  text-align: center;
  margin-top: 5cm;
}

h1 {
  font-size: large;
  margin: auto;
}

p {
  font-size: smaller;
}
