.productCard {
  border-width: 1px;
  border-color: brown;
  border-radius: 0.2cm;
  background-color: yellowgreen;
  padding: 0.2cm;
  margin: 0.2cm;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  height: 400px;
  width: 60vh;
  /* Set a fixed height for the container */
}
.productCardEdit {
  border-width: 1px;
  border-color: brown;
  border-radius: 0.2cm;
  background-color: yellowgreen;
  padding: 0.2cm;
  margin: 0.2cm;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  height: 300px;
  width: 600px;
  /* Set a fixed height for the container */
}
.title {
  font-weight: bold;
  font-size: small;
  margin: 1.5px;
}

.data {
  width: fit-content;
  height: 25px;
  font-size: small;
  margin: 1.5px;
}
